*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  /* combine with box-sizing in the body, allows all elements to inherit box-sizing */
  box-sizing: inherit;
}

html {
  /* widely used to allow user to enlarge while still allowing dev to easily use rem */
  font-size: 62.5%;
  color: black;

  @include respond(tab-land) {
    font-size: 56.5%; //1 rem = 9px, 9/16 = 56.5%
  }
  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8px, 8/16 =50%
  }
  @include respond(big-desktop) {
    font-size: 75%; //1 rem = 12px, 12/16 = 75%
  }
}

body {
  padding-top: 3rem;
  box-sizing: border-box;
  background-color: white;

  @include respond("tab-port") {
    padding-top: 3rem;
  }
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
::selection {
  background-color: $color-primary;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  &:visited {
    color: black;
  }
}

#__next {
  position: relative;
}

h1 {
  font-weight: normal;
}
button {
  &:focus {
    border: none;
  }
}
